@model IEnumerable<FinalYearProject.Models.Product>
@{
    ViewBag.Title = "Products by rank";
}



<h3 style="text-align:center; padding-bottom:20px">@ViewBag.category_name Products by category</h3>
@{ int i = 0;
    string a = "<div class=\"col-lg-12 col-md-12 col-sm-12 col-xs-12\">";
    string b = "</div>";
    string c = "<hr>";
}


@foreach (var item in Model)
{


    if (i == 0)
    {
        @Html.Raw(a);
        @Html.Raw(c);

    }
    i++;

    <div class="col-md-4 col-sm-12" itemscope itemtype="http://schema.org/Product">
        <div class="thumbnail">
            <img src="@item.ImageUrl" alt="..." width="304" height="236" itemprop="image">

            <h4 itemprop="name">@item.Name</h4>

            <p style=" font-size:16px" itemprop="manufacturer">Manufacturer: @item.ManufactureName </p>

            <p style=" font-size:16px" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <span itemprop="seller">
            Store: @item.Advertiser.Name
                </span></p>
            <p style=" font-size:16px" itemprop="description">Description: @item.Description</p>

            <hr class="line">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p class="price" itemprop="price">@item.Price</p>
                </div>
                <div class="col-md-6 col-sm-6">
                    <button class="btn btn-success right"> BUY ITEM</button>
                </div>

            </div>
        </div>
    </div>

    if (i == 3)
    {
        @Html.Raw(b);
                    i = 0;
                }

            }
