@model IEnumerable<FinalYearProject.Models.Advertiser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AccountStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SevenDayEpc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreeMonthEpc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationshipStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobileTracking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetworkRank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PerformanceIncentive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category.Category1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category1.Category1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language.Languages)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AccountStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SevenDayEpc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThreeMonthEpc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelationshipStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobileTracking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetworkRank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PerformanceIncentive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Category1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category1.Category1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language.Languages)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AdvertiserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AdvertiserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AdvertiserID })
        </td>
    </tr>
}

</table>
