@model IEnumerable<FinalYearProject.Models.Offer>

@{
    ViewBag.Title = "offerSearch";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Offer Search @ViewBag.Key</h2>


<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Advertiser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LinkID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinkType)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.Promotion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouponCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesCommission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SevenDayEPC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThreeMonthEPC)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LinkName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PromotionStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modfiyDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "offerEdit", new { id = item.OfferID })
                @Html.ActionLink("Details", "offerDetails", new { id = item.OfferID })
                @Html.ActionLink("Add", "offerAdd", new { id = item.OfferID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Advertiser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Category1)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Language.Languages)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LinkID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkType.LinkType1)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.Promotion.PromotionType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CouponCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesCommission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SevenDayEPC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreeMonthEPC)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LinkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modfiyDate)
            </td>

        </tr>
    }

</table>