
@{
    ViewBag.Title = "Scrapper";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}


<h2>Scrapper</h2>
<h3>
    @ViewBag.message
</h3>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Add URL", htmlAttributes: new { @class = "control-label col-md-2" })
        
            @Html.Editor("URL", new { @class = "form-control" })
        
        
        </div>

        <div class="form-group">
            @Html.Label("File Name", htmlAttributes: new { @class = "control-label col-md-2" })
            
                @Html.Editor("filename", new { @class = "form-control" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
}
